.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px;   
  margin-top: 50px;
 
}

.paginationButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Espacio entre los botones y las tarjetas */
}

.paginationButtons{
  background-color: rgb(78, 139, 204); /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 5px 10px; /* Espacio interno */
  border: none;
  margin: 0 5px; /* Espacio entre los botones */
  cursor: pointer;
  border-radius: 5px;
}

.paginationButtons:hover {
  
  background: #6dc2f3;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 5px #9dfaea,
      0 0 25px #db4205,
      0 0 50px #db4205,
      0 0 100px #db4205;
}

