

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Color de fondo del contenedor principal */
  }
  
  .card {
    background-color: #fff; /* Color de fondo de la tarjeta */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
    text-align: center;
    max-width: 400px;
}

.background{
  background-image: url("../../../assets/fondoPokembola.jpg"); 
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo según tus preferencias */
  background-position: center;
}