.container{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta esto según tu necesidad */
    padding: 30px; /* Espacio alrededor del contenido */
}